@let products = productsSig();
@let PaymentsMethods = paymentsMethodsSig();
@let paymentMethodSelected = paymentMethodSelectedSig();
@let sale = saleSig();


<section class="bg-gray-900 vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row justify-content-center g-3">
      @for (product of products; track product.id) {
        <div class="col-3">
          <app-product [product]="product" (addProductEvent)="addProductToCart($event)" (removeProductEvent)="removeProductToCart($event)"/>
        </div>
      }
      <div class="w-100"></div>

      @for (paymentMethod of PaymentsMethods; track paymentMethod.id) {
        <div class="col-3">
          <div class="card bg-gray-800 p-3 rounded transform transition duration-300 scale-105 pointer" [ngClass]="{'border border-primary': paymentMethodSelected.id === paymentMethod.id}" style="height: 400px;" (click)="selectPaymentMethod(paymentMethod)">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h2 class="text-white fw-bold">{{paymentMethod.name}}</h2>
              <i class="text-gray-400 bi " [class]="paymentMethod.icon"></i>
            </div>
          </div>
        </div>
      }


      <div class="w-100"></div>

      <div class="col-3 d-grid">
        <button class="btn btn-primary">Pagar {{sale.total |currency:'CLP':'symbol':'1.0-0'}}</button>
      </div>

    </div>
  </div>
</section>
